<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-15thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

<!--    <logger name="com.github.philippheuer.events4j" level="INFO"/>-->
<!--    <logger name="io.github.xanthic.cache" level="INFO"/>-->
    <logger name="de.tkunkel.twitch" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
